*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: black;
    opacity: .8;
    padding: 2em;
    border-radius: 12px;

    .search-city{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-city{
            font-size: 1.5em;
            border: none;
            padding: 0.2em 0.5em;
            width: 80%;
            outline: none;
            border-radius: 12px;
        }

        .btn-search{
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1em;
            height: 1em;
            padding: 0.8em;
            border-radius: 50%;
            border: 0.05em solid black  ;
            background-color: transparent;
            color: white;
            cursor: pointer;
        }
    }

    .info-city{
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .title-city{
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        .forecast{
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }
}

